<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/user/user/singUp.css" />
  </head>
  <body>

    <div class="popup">
      <p id="popup-message"></p>
    </div>


    <div class="container">
      <div class="card">
        <h2>Daftar Akun</h2>
        <form id="form-register" action="/user/signUp" method="POST">
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="input-group">
            <label for="confirm-password">Konfirmasi Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
              required
            />
          </div>
          <button type="submit" class="btn">Daftar</button>
          <p class="login-link">
            Sudah punya akun? <button type="button">

              <a href="/user/signIn">Masuk</a>
            </button>
          </p>
        </form>
      </div>
    </div>

    <script src="/js/user/user/signUp.js"></script>
  </body>
</html>
