<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/supervisor/dashboard.css">
    <title>{{name}} | supervisor</title>
</head>
<body>

 <!-- Sidebar -->
  <aside class="sidebar">
    <h2>supervisor | {{ name}}</h2>
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </aside>

  <!-- Main content -->
  <div class="main-content">

    <!-- Header -->
    <header>
      <h3>Welcome, {{name}}</h3>
      <div class="profile">
        <img src="https://via.placeholder.com/40" alt="supervisor Avatar">
        <span></span>
      </div>
    </header>

    <!-- Dashboard Content -->
    <main>
      <h2>Dashboard Student</h2>

      <!-- menu menu untuk management cources sebagai supervisor start -->
       <section class="menu">

        <div class="menu-1">

          <!-- buat untuk menghandle service source nantik misal saat mau menambah cource baru -->
          <button type="button">add new cource</button>
          <button type="button">delete cource</button>
        </div>


       </section>
      <!-- menu menu untuk management cources sebagai supervisor and -->


      <div class="cards">
        <div class="card">
          <h3>150</h3>
          <p>Users</p>
        </div>
        <div class="card">
          <h3>45</h3>
          <p>Reports</p>
        </div>
        <div class="card">
          <h3>12</h3>
          <p>supervisors</p>
        </div>
        <div class="card">
          <h3>99%</h3>
          <p>Uptime</p>
        </div>
      </div>

      <section class="content">
        <h2>Recent Activity</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae.</p>
      </section>
    </main>

  </div>

</body>
</html>