<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn | supervisor </title>
</head>
<body>
    <h4>Sugn In</h4>

    <main>
        <form action="/supervisor/signIn" method="post">

        <!--  yg di butuhkan password aja -->
            <label for="password">password</label>
            <input type="password" name="password" id="password" required>
            
            
            <button type="submit">Welcome</button>
            </form>
    </main>
    
</body>
</html>