<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>

  <body>
    <!-- Sidebar -->
    <aside>
      <ul>
        <li><img src="/img/icon1.svg" alt="Dashboard" /></li>
        <li><img src="/img/icon2.svg" alt="Settings" /></li>
        <li><img src="/img/icon1.svg" alt="Logout" /></li>
      </ul>
      <button class="close">Close</button>
    </aside>

    <!-- navbar -->
    <nav>
      <ol>
        <li>Menu</li>
        <li>a</li>
      </ol>
    </nav>

    <!-- Content -->
    <main class="main-content">
      <div class="card-img">
        <img src="" alt="" />
      </div>
      <div class="card-start">
        <h2>Welcome Back!</h2>
        <p><a href="/auth/signIn">Geting started</a></p>
      </div>
    </main>

    <!-- JS -->
    <script src="/js/dasboard.js"></script>
  </body>
</html>
