:root {
  --dark-blue: #1a2238;
  --navy: #232d4b;
  --orange: #ff6a3d;
  --light-blue: #9daaf2;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-blue);
}
/* Aside strat */
aside {
  position: absolute;
  transition: 0.5s;
  left: -1000px;
  z-index: 50;
  width: 18rem;
  height: 100vh;
  background: var(--navy);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 10px;
}

aside li {
  margin: 20px 0;
}

aside li img {
  width: 30px;
  cursor: pointer;
  filter: invert(90%);
  transition: transform 0.3s ease;
}

aside img:hover {
  transform: scale(1.1);
}

aside button {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 1.2rem;
}

/* aside and */

/* navbar start */
nav {
  padding: 0.5rem;
  backdrop-filter: blur(10px); /* Blur latar belakang */
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan Safari */
  background-color: rgba(255, 255, 255, 0.2); /* Transparan */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Opsional: border glow */
  padding: 20px;
  height: 1.6rem;
  color: white;
}
nav ol {
  display: flex;
  justify-content: space-between;
}
nav ol li {
  cursor: pointer;
  list-style: none;
}
nav ol li:hover {
  color: var(--dark-blue);
  transform: scale(1.2);
  transition: 0.5ms;
}

/* navbar end */

/* main content strat */
.main-content {
  margin-top: 8rem;
  margin-right: 50%;
  margin-left: 50%;
  display: flex;
  gap: 10px;
  max-width: 50vw;
  max-height: 50vh;
}

.main-content .card-img img {
  width: 100%;
  height: 100%;
}
