<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
 <header class="header">
        <div class="logo">
          <img src="/icons/Elearn.png" alt="E-Learning Logo" />
        </div>
        <nav class="nav">
          <ul>
            <li><a href="/views/home">Home</a></li>
            <li><a href="/views/courses">Courses</a></li>
            <li><a href="/views/progress">Progress</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </nav>
        <div class="user-profile">
          <!-- nantik ganti icons otomatis -->
          <img src="" alt="User Avatar" />
        </div>
      </header>
    <h4>progress</h4>
    
</body>
</html>